/* -------------------------
:: TEXT
-------------------------- */
$text-primary:    #2c2d31;
$text-secundary:  #474747;


/* -------------------------
:: GREY
-------------------------- */
$grey-primary:    #949494;

/* Density */
$grey-90:         #212121;
$grey-80:         #424242;
$grey-75:         #4e4e4e;
$grey-70:         #616161;
$grey-60:         #757575;
$grey-50:         #9E9E9E;
$grey-40:         #BDBDBD;
$grey-30:         #E0E0E0;
$grey-25:         #e6e6e6;
$grey-20:         #EEEEEE;
$grey-15:         #e4e4e4;
$grey-10:         #F5F5F5;
$grey-5:          #FAFAFA;


/* -------------------------
:: GREEN
-------------------------- */
$green-primary:   #39be63;
$green-secundary: #7eb4b5;


/* -------------------------
:: WHITE
-------------------------- */
$white:           #f7f7f6;


/* -------------------------
:: PURPLE
-------------------------- */
$purple-primary:  #9476bf;


/* -------------------------
:: YELLOW
-------------------------- */
$yellow-primary:  #d5b245;
$yellow-secundary:#e2b338;


/* -------------------------
:: BLUE
-------------------------- */
$blue-primary:    #00c7d7;


/* -------------------------
:: BROWN
-------------------------- */
$brown-primary:    #615050;


/* -------------------------
:: ORANGE
-------------------------- */
$orange-primary:  #b77c42;


/* -------------------------
:: RED
-------------------------- */
$red-primary:     #ff3d54;


/* -------------------------
:: BACKGROUND BODY
-------------------------- */
$background-bg:   #f7f7f6;
$background-grey: #efefef;
$background-dark: #2a2929;
$background-menu: #333333;
$background-footer: #53566b;

