/* reset */
p,
h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

.text-capitalize {
    text-transform: lowercase;
    &:first-letter {
        text-transform: uppercase;
    }

    span {
        margin-top:-1px;
    }
}

@mixin text-ellipsis($lines) {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-11 { font-size: 11px; }
.text-12 { font-size: 12px; }
.text-14 { font-size: 14px; }
.text-16 { font-size: 16px; }
.text-18 { font-size: 18px; }
